__pycache__
.DS_store

outputs/*

test.sh

# chains 
chains

# jupyter notebooks 
*.ipynb

# batch sripts folder
batch_scripts

# ignore the pta files but keep the folder 
inputs/pta/pta_data/*
!inputs/pta/pta_data/.gitkeep 
