<section class="mdx-parallax__group" data-md-color-scheme="default">
  <div class="md-content md-grid" data-md-component="content">
    <div class="md-content__inner">
      <header class="md-typeset" hidden>
        <h1 id="ptarcade-workflow-in-a-nutshell">
          PTArcade workflow in a nutshell
          <a href="#ptarcade-workflow-in-a-nutshell" class="headerlink" title="Permanent link">
            ¶
          </a>
        </h1>
      </header>
      <div class="mdx-spotlight">
        <figure class="mdx-spotlight__feature" hidden>
          <a href="/getting_started/local_install/" title="Installation" tabindex="-1">
            <img src="assets/images/spotlight/conda_install.png" alt="Install" loading="lazy" width="500" height="327">
          </a>
          <figcaption class="md-typeset">
            <h2>Install</h2>
            <p>
              PTArcade is published as a <a href="https://pypi.org/project/PTArcade/">Python package</a> 
              and <strong>can be installed with <tt>pip</tt> or <tt>conda</tt></strong>.
            </p>
            <p>
              The installation will also take care of downloading the latest
              NANOGrav and IPTA dataset so you don't have to worry about any of that.
            </p>
            <p>
              <a href="/getting-started/local_install/" aria-label="Built-in search">
                <span class="twemoji">
                  {% include ".icons/octicons/arrow-right-24.svg" %}
                </span>
                Learn more
              </a>
            </p>
          </figcaption>
        </figure>
        <figure class="mdx-spotlight__feature" hidden>
          <a href="/inputs/models/" title="Define signal" tabindex="-1">
            <img src="assets/images/spotlight/model.png" alt="Defin signal" loading="lazy" width="500" height="327">
          </a>
          <figcaption class="md-typeset">
            <h2>Define your signal</h2>
            <p>
              Defining your signal is as <strong>easy as defining a Python function</strong>. 
            </p>
            <p>
              You can either search for stochastic signals, defined by their power spectrum;
               or deterministic signals, defined by timed series giving the induced perturbations
               in pulses times of arrivals.
            <p>
              <a href="inputs/" aria-label="Inputs">
                <span class="twemoji">
                  {% include ".icons/octicons/arrow-right-24.svg" %}
                </span>
                Learn more
              </a>
            </p>
          </figcaption>
        </figure>
        <figure class="mdx-spotlight__feature" hidden>
          <a href="/docs/getting_started/run/" title="Run" tabindex="-1">
            <img src="assets/images/spotlight/run.png" alt="Run" loading="lazy" width="500" height="327">
          </a>
          <figcaption class="md-typeset">
            <h2>
              Run
              <span class="twemoji">
                {% include ".icons/material/run.svg" %} 
              </span>
              
            </h2>
            <p>
              PTArcade comes with several utilities to analyze and plot your results. 
            </p>
            <p>
              Load...
            </p>
              <a href="utils/" aria-label="Utilities">
                <span class="twemoji">
                  {% include ".icons/octicons/arrow-right-24.svg" %}
                </span>
                Learn more
              </a>
            </p>
          </figcaption>
        </figure>
      </div>
    </div>
  </div>
</section>
