<section class="mdx-parallax__group" data-md-color-scheme="default">
  <div class="md-content md-grid" data-md-component="content">
    <div class="md-content__inner">
      <header class="md-typeset" hidden>
        <h1 id="ptarcade-workflow-in-a-nutshell">
          PTArcade workflow in a nutshell
          <a href="#ptarcade-workflow-in-a-nutshell" class="headerlink" title="Permanent link">
            ¶
          </a>
        </h1>
      </header>
      <div class="mdx-spotlight">
        <figure class="mdx-spotlight__feature" hidden>
          <a href="inputs/model/" title="Define signal" tabindex="-1">
            <img src="assets/images/spotlight/model.png" alt="Defin signal" loading="lazy" width="500" height="327">
          </a>
          <figcaption class="md-typeset">
            <h2>Define your signal</h2>
            <p>
              Defining your signal is as <strong>easy as defining a Python function</strong>. 
            </p>
            <p>
              Just define the power spectrum, if you are considering a stochastic signal; or the 
              signal timeseries, if you are considering a deterministic signal. PTArcade will take
              care of the rest.
            <p>
              <a href="inputs/" aria-label="Inputs">
                <span class="twemoji">
                  {% include ".icons/octicons/arrow-right-24.svg" %}
                </span>
                Learn more
              </a>
            </p>
          </figcaption>
        </figure>
        <figure class="mdx-spotlight__feature" hidden>
          <a href="getting_started/run/" title="Run" tabindex="-1">
            <img src="assets/images/spotlight/run.png" alt="Run" loading="lazy" width="500" height="327">
          </a>
          <figcaption class="md-typeset">
            <h2>
              Run it 
              <span class="twemoji">
                {% include ".icons/material/run.svg" %} 
              </span>
              
            </h2>
            <p>
              <strong>Run</strong> the code <strong>locally or on a HPC</strong>. 
            </p>
            <p>
              PTArcade can run in various configuration modes to adapt to the available computational resources.
            </p>
              <a href="getting_started/run/" aria-label="Utilities">
                <span class="twemoji">
                  {% include ".icons/octicons/arrow-right-24.svg" %}
                </span>
                Learn more
              </a>
            </p>
          </figcaption>
        </figure>
        <figure class="mdx-spotlight__feature" hidden>
          <a href="utils/plot_utils/" title="Analyze the results" tabindex="-1">
            <img src="assets/images/spotlight/ex_post.png" alt="Example posterior" loading="lazy" style="width:450px">
          </a>
          <figcaption class="md-typeset">
            <h2>
              Analyze the results              
            </h2>
            <p>
              Can your model <strong>fit the observed PTA signal?</strong> Can your model be <strong>constrained by PTA
              data?</strong>
            </p>
            <p>
              Several utilities will help you answer these questions and much more (easy handling of 
              multiple MCMC chains, easy plotting routings, etc...).
            </p>
              <a href="utils/" aria-label="Utilities">
                <span class="twemoji">
                  {% include ".icons/octicons/arrow-right-24.svg" %}
                </span>
                Learn more
              </a>
            </p>
          </figcaption>
        </figure>
      </div>
    </div>
  </div>
</section>
